<p><%= flash[:alert] %></p>
<h2>Editing Restaurant information</h2>

<form action="/foods/edit_complete" method="post">
  <input type="hidden" name="id" value="<%= @post.id %>">
  <p style="color: #ff0000">Catecory:
  <select name="post_category">
    <option value="Asian">Asian</option>
    <option value="American">American</option>
    <option value="European">European</option>
    <option value="International">International</option>
  </select></p>
  <p>Title: <input type="text" name="post_title" value="<%= @post.title %>"></p>
  <p>Content: <textarea name="post_content"><%= @post.content %></textarea></p>
  <input type="submit" value="Edit">
</form>
