<div	class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
		 <h3 class="panel-title">List of <%= @category %> restaurants</h3>
		</div>
	</div>
</div>


	<%= render :partial => "foods/posts" %>
</div>
