<div class="container">
	<% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>

	<div class="well text-center">
  	<h3>Welcome to Foodbook : Restaurants Reviews</h3>
  	<p>Share and Discover Perfect Restaurant Around You </p>
	</div>

	<%= render :partial => "foods/posts" %>
</div>
