<h4><a href="/">Foodbook Restaurants Reviews</a> || <a href="/asian">Asian</a> | <a href="/american">American</a> | <a href="/european">European</a> | <a href="/international">International</a> || <a href="/foods/write">Post</a> || <a href="/users/signup">Sign up</a> | <a href="/users/login">Log in</a></h4>
