<div class="container">
	<h1 class="foodbook-title"><a class="foodbook-title-link" href="/">Foodbook Restaurants Reviews</a></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
			<li><a href="/asian">Asian</a></li>
			<li><a href="/american">American</a></li>
			<li><a href="/european">European</a></li>
			<li><a href="/international">International</a></li>
			<li><a href="/foods/write">Post</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
	 		<% if session[:user_id].nil? %>
			<li><a href="/users/signup">Sign up</a></li>
			<li><a href="/users/login">Log in</a></li>
			<% else %>
			<li><a href="/users/logout_complete">Log out</a></li>
			<% end %>
		</ul>
	</div>
</nav>
