<!DOCTYPE html>
<html>
<head>
  <title>Foodbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h4><a href="/">Foodbook Restaurants Reviews</a> || <a href="/asian">Asian</a> | <a href="/american">American</a> | <a href="/european">European</a> | <a href="/international">International</a></h4>

<%= yield %>

</body>
</html>
